{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        <table class="table">
        {% for locale, fields in object.translations %}
          <tr>
              <td class="col-md-1"><strong><img src="/bundles/redkingodmtranslator/images/locale_icons/{{ locale }}.png" alt="{{ locale|locale }}" title="{{ locale|locale }}" /></strong></td>
              <td class="col-md-11">
                  <table class="table">
                    {% for key, field in fields %}
                    <tr>
                      {% set label_key = 'show.label_'~key %}
                      <td class="col-md-3"><strong>{{ label_key|trans({}, admin.translationDomain) }}</strong></td>
                      <td class="col-md-9">{{ field|raw }}</td>
                    </tr>
                    {% endfor %}
                  </table>
              </td>
          </tr>  
        {% endfor %}
        </table>
    </div>
{% endblock %}
